body{
  background-color: rgb(249, 249, 249);
  margin: 0px;
  padding: 0px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header{
  width: 100%;
  height: 70px;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  display: flex;
  justify-content: center;
}
.cards{
  width: 1100px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  column-gap: 50px;
  row-gap: 50px;
}
.card {
  background: white;
  border-radius: 16px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  position: relative;
}
.card img {
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.card-descr{
  padding: 10px;
}
.tag {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgb(102, 131, 229);
  padding: 8px;
  border-radius: 12px;
  color: white;
}
h1 {
  width: 1100px;
  text-align: left;  
  margin-top: auto;
  margin-bottom: auto;
}
.text{
  margin-bottom: 20px;
  margin-top: 20px;
}
.card-descr p{
  color: gray;
}
.btn{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
button{
  width: 60px;
  height: 40px;
  border: 1px solid gainsboro;
  border-radius: 10px;
  background-color: white;
}
.blue{
  background-color: rgb(102, 131, 229);
  color: white;
  border: none;
}